<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "EducationalOrganization",
  "name": "{{ metadata.title }}",
  "url": "{{ metadata.url }}",
  "description": "{{ metadata.description }}"
}
</script>
